<style>
    .card-title{
        color: white;
     } 
     .form-group{
      width: 288px;
    }
 </style>
 
 <section class="content">
     <div class="container-fluid">
       <div class="row">
         <!-- left column -->
         <div class="col-md-6">
           <!-- general form elements -->
           <div class="card card-primary">
             <div class="card-header">
               <h3 class="card-title">Add question</h3>
             </div>
             <!-- /.card-header -->
             
             <form action="/admin/add" method= "POST" class="form">
               <div class="card-body">
                 <div class="form-group">
                     <label for="exampleInputQuestion">Enter question</label>
                     <input  type="text"  name="question"  style="color: white;" class="form-control" id="exampleInputQuestion" placeholder="Enter question">
                   </div>
                 <div class="form-group">
                     <label for="exampleInputchoose1">Enter choose 1</label>
                     <input  type="text"  name="choose1"  style="color: white;" class="form-control" id="exampleInputChoose1" placeholder="Enter choose 1">
                   </div>
                 <div class="form-group">
                     <label for="exampleInputChoose2">Enter choose 2</label>
                     <input  type="text"  name="choose2"  style="color: white;" class="form-control" id="exampleInputChoose2" placeholder="Enter choose 2">
                   </div>
               
                 <div class="form-group">
                     <label for="exampleInputCorrect">Enter correct answer</label>
                     <input  type="text"  name="correct"  style="color: white;" class="form-control" id="exampleInputCorrect" placeholder="Enter correct answer">
                   </div>
               
                 
               </div>
               <!-- /.card-body -->
               <div class="card-footer ">
                 <button type="submit" class="btn bg-light text-dark">add</button>
               </div>


            </div>
            <!-- /.card-body -->
            <div class="card-footer ">
              <button type="submit" class="btn bg-light text-dark">add</button>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</section>