<style>
  .card-title {
    color: white;
  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Change password</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="/edit/password" method="POST" class="form">
            <div class="card-body">

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" style="color: white;" name="password_old" class="form-control"
                  id="exampleInputPassword1" placeholder="Enter your old password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">New Password</label>
                <input type="password" style="color: white;" name="password_new" class="form-control"
                  id="exampleInputPassword2" placeholder="Enter your new password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword3">Re-enter Password</label>
                <input type="password" style="color: white;" name="password_varify" class="form-control"
                  id="exampleInputPassword3" placeholder="Re-enter your new password">
              </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn bg-light text-dark">Update password</button>
            </div>
          </form>
        </div>
        <!-- /.card -->