<style>
 li, ul{
display: inline-block;

  }
  h1{
    margin-top:100px;
  }
  #matchesNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    
    padding:20px;
  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgba(17, 17, 17, 0.342);
  }
  #matchesNav{
    display: flex;
    flex-direction: column;
  }


  .border-bottom-nav{
 margin: 0 4%;
  border-bottom: 1px solid rgb(54, 54, 54);

}

  </style>
  
  
  
    <ul class ="match-nav-bar" >
      <div class="border-bottom-nav"></div>
      <li><a  href="/home/previous">Previouse</a></li>&nbsp
      <li><a href="/home/last">Last Week</a></li>&nbsp
      <li><a href="/home/current">Today</a></li>&nbsp
      <li>  <a   href="/home/next">Next Week</a></li>&nbsp
      <li><a href="/home/upcoming">Upcoming</a></li>&nbsp
      <div class="border-bottom-nav"></div>
    </ul>
    
